* {
    margin: 0;
}

header {
    text-align: center;
    line-height: 2rem;
}

p, label, h2, h4 {
    margin-left: 1rem;
}

.container section:first-child {
    display: flex;
    justify-content: space-between;
    width: 100em;
}

.container section:first-child,
footer {
    width: 55vw;
    background-color: #ddd;
    border: .5px groove;
}

form {
    display: flex;
}

.info-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100em;
}

.info-main h2 {
    text-align: center;
    margin-top: 3rem;
}

.candidate-number input {
    width: .5em;
}

.candidate-number input,
select {
    padding: .5em;
}

.candidate-number input:last-child {
    margin-left: -.4em;
}

.foto img {
    height: 10rem;
    border: .5px groove;
}

.container main {
    display: flex;
    height: 60vh;
}

.container main,
footer {
    margin: 3rem 3rem 0;
}

footer {
    border-top: .5px groove #ddd;
    margin-top: 0;
    height: 4rem;
}

.titulo {
    margin-bottom: 1rem;
}

.teclado,
.teclado .titulo {
    display: flex;
    flex-direction: column;
}

.teclado {
    align-items: center;
    margin-left: 2rem;
}

.teclado-interno {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #333131;
    padding: 1rem;
}

.teclado-interno div:first-child {
    text-align: center;
    margin-top: 1rem;
}

.bt {
    border: 1px solid transparent;
}

.btn-key {
    padding: .4rem 1rem;
    margin: .2rem;
}

.btn-transaction {
    padding: .7rem 1rem;
}

.btn-null {
 background-color: #fff;
}

.btn-correct {
    background-color: coral;
}

.btn-confirm {
    padding: 1.5rem 2rem .7rem;
    background-color: #4fbc45;
}